---
import Layout from "../layouts/Layout.astro";
import Button from "../components/ButtonHome.astro";
import { Docs } from "../components/Docs";
---

<Layout title="Docs Developers">
    <main>
        <Button />
        <Docs client:load />
    </main>
</Layout>
