---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import { docs } from "../config/api.json";
---

<Layout title="Docs Developers">
    <main>
        <h2>DOCUMENTATION</h2>
        {
            docs.map((doc) => (
                <Sidebar
                    id={doc.id}
                    link={doc.link}
                    name={doc.name}
                    logo={doc.logo}
                />
            ))
        }
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
</style>
