---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Docs-tools-for-Dev">
	<main>
		<div class="header">
			<img src="/logo.webp" alt="<ðŸ“>" width="90" />
			<h1 class="welcome">
				WELCOME TO <span class="text-gradient">Docs&ToolsDev</span>
			</h1>
		</div>
		<ul role="list" class="link-card-grid">
			<Card
				href="/docs/0"
				title="Documentation"
				body="Learn with documentations for developers."
			/>
			<Card
				href="tools/0"
				title="Tools"
				body="Explore tools for developers."
			/>
		</ul>
		<hr class="line" />
		<p class="code">
			Codeado con ðŸ’™ por &nbsp
			<a href="https://github.com/marco5x"> @Marcos</a>, &nbsp con Astro
			&nbsp
			<img src="/logos/astro.webp" alt="astro" width="25" />
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	.header {
		gap: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h1 {
		color: azure;
		font-weight: bold;
		font-size: 3.3rem;
		font-weight: 800;
		margin: 0;
	}

	.text-gradient {
		display: flex;
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.line {
		margin-top: 15rem;
	}
	.code {
		color: aliceblue;
		display: flex;
		justify-content: center;
	}
	.code a {
		cursor: pointer;
		text-decoration: none;
	}
</style>
