---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Docs tools web Dev" description="Docs and tools web for developers">
	<main>
		<div class="head">
			<div class="header">
				<img src="/logo.webp" alt="<ðŸ“>" width="90" />
				<h1 class="welcome">
					WELCOME TO <span class="text-gradient">Docs & Tools Dev</span>
				</h1>
			</div>
			<ul role="list" class="link-card-grid">
				<Card
					href="/docs/0"
					title="Documentation"
					body="Learn with documentations for developers."
				/>
				<Card
					href="tools/0"
					title="Tools"
					body="Explore tools for developers."
				/>
			</ul>
		</div>
		<footer class="footer">
			<p class="code">
				Codeado con ðŸ’™ por &nbsp
				<a href="https://github.com/marco5x" target="_blank"> @Marcos</a>, &nbsp con
				Astro &nbsp
				<img
					src="/logos/astro.webp"
					alt="astro"
					width="25"
					height="25"
				/>
			</p>
		</footer>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		background-color: #b8c5c6;
		background-size: cover;
		width:100%;
		height: 100vh;		
	}
	.head {
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-items: center;
		align-items: center;
		padding-top: 6rem;
	}
	.header {
		gap: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h1 {
		color: azure;
		font-weight: bold;
		font-size: 3.3rem;
		font-weight: 800;
		margin: 0;
	}

	.text-gradient {
		display: flex;
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 300%;
		background-position: 0%;
	}

	.link-card-grid {
		display: flex;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.footer {
		width: 100%;
		position: fixed;
		bottom: 1rem;
		background-color: #0f8abc;		
	}

	.code {
		color: aliceblue;
		display: flex;
		justify-content: center;
	}
	.code a {
		cursor: pointer;
		text-decoration: none;
	}

	@media screen and (max-width: 640px) {
		.link-card-grid {
			flex-direction: column;			
		}
		.head {
			padding-top: 0;
		}
		.header{
			flex-direction: column;
			gap: 0.7rem;
		}
		h1{
			font-size:xx-large ;
		}
		.welcome {
			text-align: center;
		}
		.footer {
			bottom: 0;
		}
	}
</style>
