---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to DocsDev">
    <main>Soy tools</main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
</style>
