---
import Layout from "../layouts/Layout.astro";
import Button from "../components/ButtonHome.astro";
import { Tools } from "../components/Tools";
---

<Layout title="Welcome to DocsDev">
    <main>
        <Button />
        <Tools client:load />
    </main>
</Layout>
