<a href="/" class="button">
    <img src="/logo.webp" alt="Home" width="36" />
</a>

<style>
    .button {
        position: absolute;
        z-index: 3;
        margin: 1rem 0 0 1rem;
        width: 2.7rem;
        height: 2.7rem;
        background-color: skyblue;
        border-radius: 50%;
    }
</style>
