<a href="/" class="button">
    <img src="/logo.webp" alt="Home" width="36" />
</a>

<style>
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 3;
        margin: 0.6rem 0 0 0.6rem;
        width: 2.7rem;
        height: 2.7rem;
        background-color: #18a7ff;
        border-radius: 50%;
    }
</style>
