.container {
  display: flex;
}

.button {
  position: absolute;
  z-index: 3;
  margin: 1.2rem 1rem 1rem 4.2rem;
  padding: 0.39rem;
  border: none;
  border-radius: 0.3rem;
  background-color: skyblue;
  color: aliceblue;
  font-size: large;
  font-weight: bold;
}

.button:hover {
  background-color: rgba(64, 187, 235, 0.822);
  color: aliceblue;
  cursor: pointer;
}

.docs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  line-height: 1.4;
  padding: 0.6rem 0.6rem;
  border-radius: 0.35rem;
  color: #333;
  background-color: white;
  opacity: 0.8;
}

.card {
  list-style: none;
  width: 12rem;
  display: flex;
  padding: 0.18rem;
  background-color: #333;
  background-size: 300%;
  border-radius: 0.6rem;
  background-position: 100%;
  transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.card:is(:hover, :focus-within) {
  cursor: pointer;
  background-position: 0;
  background-image: var(--accent-gradient);
}
